* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px;
}
.title {
  margin: 15px;
  padding-bottom: 20px;
  color: rgb(85, 84, 84);
}
.subtitle {
  font-size: 20px;
  color: rgb(85, 84, 84);
  padding-bottom: 10px;
}
.input-number {
  background-color: rgb(197, 194, 194);
  height: 30px;
  margin-bottom: 10px;
  border-radius: 2px;
  padding-left: 9px;
}
.button {
  display: block;
  width: 50px;
  height: 30px;
  background-color: turquoise;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
.label {
  display: block;
  color: rgb(85, 84, 84);
  padding-bottom: 10px;
}
.input-clue {
  width: 100%;
  height: 30px;
  border: 2px solid rgb(197, 194, 194);
  margin-bottom: 10px;
  padding-left: 9px;
}
@media all and (min-width: 768px) {
  .input-clue {
    width: 50%;
  }
}
